body {
    background-color: #f0f2f5;
}

.navbar-custom {
    background-color: #007bff;
}
.navbar-brand {
    color: #ffffff !important;
}

.btn-reserva {
    background-color: #28a745;
    color: white;
    font-size: large;
    padding: 20px;
    border: none;
}
.btn-reserva:hover {
    background-color: #218838;
}
.btn-logout {
    background: none;
    border: none;
    color: white;
}

.footer-reserva {
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}